body {
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100vh;
 background-color: #f7f6f8;
 font-family: Arial, sans-serif;
}
.login-box {
 background: white;
 padding: 40px;
 border-radius: 12px;
 box-shadow: 0px 0px 20px rgba(30, 58, 138, 0.3);
 width: 300px;
 text-align: left;
 transition: box-shadow 0.3s ease;
}
.login-box:hover {
 box-shadow: 0px 0px 30px rgba(30, 58, 138, 0.6);
}
.login-box h2,
.login-box h3 {
 margin: 0;
 font-weight: bold;
 transition: color 0.3s;
}
.login-box h2 {
 font-size: 16px;
 margin-bottom: 10px;
 color: black;
}
.login-box h2:hover {
 color: #1e3a8a;
}
.login-box h3 {
 font-size: 22px;
 margin-bottom: 20px;
 color: black;
}
.login-box input {
 width: 100%;
 padding: 12px;
 margin-bottom: 15px;
 border: 1px solid #ccc;
 border-radius: 6px;
 font-size: 14px;
 outline: none;
 transition: border-color 0.3s, box-shadow 0.3s;
 
}
.login-box input:hover {
 border-color: #1e3a8a;
 box-shadow: 0 0 10px rgba(30, 58, 138, 0.6);
}
.login-box input:focus {
 border-color: #1e3a8a;
 box-shadow: 0 0 30px rgba(30, 58, 138, 0.6);
}

.login-box button {
 width: 100%;
 padding: 12px;
 border: 2px solid #1e3a8a;
 border-radius: 6px;
 background-color: #f7f7f7;
 color: rgb(2, 4, 87);
 font-size: 16px;
 cursor: pointer;
 transition: background 0.3s, transform 0.1s;
}
.login-box button:hover {
 background-color: #123a91;
 color: white;
}
.login-box button:active {
 transform: scale(0.97);
 background-color: #0d2961;
}